---
layout: default
---
<main class="main">
    <div class="container">
        <section class="tag-content">
            <article class="post">
                <h2 class="post-title">标签：{{ page.title }}</h2>
                
                {% for post in page.posts %}
                <div class="archive-item">
                    <time class="post-date">{{ post.date | date: "%Y-%m-%d" }}</time>
                    <h3 class="post-title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
                    <p class="post-excerpt">{{ post.excerpt }}</p>
                </div>
                {% endfor %}
            </article>
        </section>

        <aside class="sidebar">
            <div class="widget">
                <h3>所有标签</h3>
                <div class="tag-cloud">
                    {% for tag in site.tags %}
                    <span class="tag">{{ tag[0] }}</span>
                    {% endfor %}
                </div>
            </div>
        </aside>
    </div>
</main>